*.pyc
*.pyo
.installed.cfg
.coverage
htmlcov
bin
build
develop-eggs
dist
downloads
eggs
htmlcov
parts
src/*.egg-info
var

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# JetBrains PyCharm
/.idea/
